# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Generated reports
*.pdf

# Generated images
*.png
*.jpg
*.jpeg

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/
